<!DOCTYPE html>
<html>
<title>Lam Wun Ming Personal Website</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/file/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="data:,">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/file/pphoto.jpg" style="width:100%" alt="Personal Photo">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Lam Wun Ming</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Hong Kong</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>dicky20072007@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+852 6688 0615</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Programming Skills</b></p>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>C</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:65%">
              <div class="w3-center w3-text-white">65%</div>
            </div>
          </div>
          <p>R</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          <p>Javascript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          <p>Node JS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:40%">40%</div>
          </div>
          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:30%">30%</div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Project Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web Data Analysis</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>E-commerce and M-commerce </h6>
            <p><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="/file/Assignment1.pdf" target="_blank">Requirement</a>&nbsp&nbsp&nbsp&nbsp&nbsp</span><span><a href="/file/DSME4030-Assignment1.pdf" target="_blank">Solution</a></span></p>
            
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Online Matching Platform </h6>
            <p><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="/file/Assignment2.pdf" target="_blank">Requirement</a> &nbsp&nbsp&nbsp&nbsp&nbsp</span><span><a href="/file/assignment2_.pdf" target="_blank">Solution</a></span></p>
            
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Game Industry </h6>
            <p><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="/file/Assignment3.pdf" target="_blank">Requirement</a> &nbsp&nbsp&nbsp&nbsp&nbsp</span><span><a href="/file/Asgn3_DSME4030.pdf" target="_blank">Solution</a></span></p>  
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Compensation and Injury duration</h6>
            <p><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="/file/Assignment4.pdf" target="_blank">Requirement</a> &nbsp&nbsp&nbsp&nbsp&nbsp</span><span><a href="/file/Asgn4_DSME4030.pdf" target="_blank">Solution</a></span></p>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Microfinance in Bangladesh</h6>
            <p><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="/file/Assignment5.pdf" target="_blank">Requirement</a> &nbsp&nbsp&nbsp&nbsp&nbsp</span><span><a href="/file/DSME4030_asgn5.pdf" target="_blank">Solution</a></span></p>
          <hr>
        </div>
          
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Finance</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Grabbing data from Yahoo Finance </h6>
          <p><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="/file/Daydata_not_adj_close.pdf" target="_blank">Code</a> &nbsp&nbsp&nbsp&nbsp&nbsp</span></p>
            
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Stock price (Daily) updating</h6>
          <p><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="/file/project/Data_updating.pdf" target="_blank">Code</a>  &nbsp&nbsp&nbsp&nbsp&nbsp</span></p>
            
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oscillator computation </h6>
          <p><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="/file/oscillator_source_code.pdf" target="_blank">Code</a>  &nbsp&nbsp&nbsp&nbsp&nbsp</span></p>
            
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Option Trade Backtesting </h6>
            <p><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="/file/Signal_Backtest.pdf" target="_blank">Code</a>  &nbsp&nbsp&nbsp&nbsp&nbsp</span><span><a href="/file/Backtest_Long_21082017.pdf" target="_blank">Result (Long Strategy)</a>&nbsp&nbsp&nbsp&nbsp&nbsp</span><span><a href="/file/Backtest_Strangle_21082017.pdf" target="_blank">Result (Strangle Strategy)</a>&nbsp&nbsp&nbsp&nbsp&nbsp</span></p>
            
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Option Greek and Black–Scholes model </h6>
          <p><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="/file/option_greeks.pdf" target="_blank">Code</a>  &nbsp&nbsp&nbsp&nbsp&nbsp</span></p>
          <hr>
        </div>
          
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web Application</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Personal Website</h6>
          <p><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="/git/lwmwebsite.git" target="_blank">GIT</a> &nbsp&nbsp&nbsp&nbsp&nbsp</span></p>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>E-commerce</h6>
          <p><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/file/Project-Spec.pdf" target="_blank">Requirement</a> &nbsp&nbsp&nbsp&nbsp&nbsp</span><span><a href="/git/E_commerce" target="_blank">GIT</a> &nbsp&nbsp&nbsp&nbsp&nbsp</span><span><a href="http://35.161.32.39/" target="_blank">DEMO</a>&nbsp&nbsp&nbsp&nbsp&nbsp</span></p>
        <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Algorithm Designing</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>AVL tree</h6>
          <p><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/file/AVLproj.pdf" target="_blank">Requirement</a> &nbsp&nbsp&nbsp&nbsp&nbsp</span><span><a href="/git/AVLtree.git" target="_blank">GIT</a> &nbsp&nbsp&nbsp&nbsp&nbsp</span><span><a href="https://github.com/lwmformula/AVLtree/blob/master/AVL.py" target="_blank">Code</a>&nbsp&nbsp&nbsp&nbsp&nbsp</span></p>
        <hr>
        </div>
      </div>

    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>CSS Template created by Jane Doe</p>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
